<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Simple File Metadata Microservice</h1>
        <h2>
           Post a file to /api/filedetails and get fileinfos in the response.
        </h2> 
        
        <h3>Part of the Free Code Camp Backend Challenges</h3>
        
        
        <form id        =  "uploadForm"
               enctype   =  "multipart/form-data"
               action    =  "/api/filedetails"
               method    =  "post"
        >
        <input type="file" name="uploaded_file" />
        <input type="submit"  name="submit">
      </form>


      </div>
   </body>

</html>
